# ==========================================
# IGNORAR VARIABLES DE ENTORNO SECRETO
# ==========================================
.env

# ==========================================
# IGNORAR ENTORNOS VIRTUALES
# ==========================================
venv/
env/
.venv/

# ==========================================
# IGNORAR ARCHIVOS TEMPORALES DE PYTHON
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# IGNORAR BASES DE DATOS LOCALES Y LOGS
# ==========================================
batch/mlflow.db
*.log